{{define "head"}}
<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}} - Git Archive Hosting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{template "header" .}}
    <main>
        {{block "content" .}}{{end}}
    </main>
</body>

</html>

<style>
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        background: #f0f0f0;
    }

    main {
        margin-top: 15px;
        margin-left: 15px;
    }
</style>
{{end}}
